.wrapNav {
  display: flex;
  gap: 4px;

  &:hover {
    color: var(--pulse-accent);

    .normal {
      width: 24px;
      height: 24px;
      background: linear-gradient(151deg, #8095FF 0%, #B485FF 100%);
      border-radius: 8px;
      color: #fff;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .normal {
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
  }

  .activeIcon {
    width: 24px;
    height: 24px;
    background: linear-gradient(151deg, #8095FF 0%, #B485FF 100%);
    border-radius: 8px;
    color: #fff;
    text-align: center;
    // margin-right: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
