.footerWrap {
  width: 100%;
  height: 30px;
  background: #FFFFFF;
  border-top: 1px solid var(--pulse-bg2);
  color: var(--pulse-tx3);
  line-height: 30px;
  font-size: 12px;
  text-align: center;
  // position: absolute;
  // bottom: 0;
}
