.testResultWrap {
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  overflow-y: auto;
  padding: 5px 1.5625vw;

  .container {
    // width: 87.5vw;
    // margin: 0 auto;

    .breadcrumb {
      margin-bottom: 4px;
      margin-top: 8px;
    }

    .infoWrap {
      color: var(--pulse-tx2);

      .first {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 8px;

        .name {
          font-size: 16px;
          color: var(--pulse-tx1);
          line-height: 24px;
          font-weight: bold;
        }

      }

      .detailWrap {
        margin-top: 8px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 60px;
      }
    }

    .resultWrap {
      height: 29.4167vw;
      overflow-y: auto;
      display: flex;
      flex-direction: row;

      .leftWrap {
        flex: 3;
        border-right: 1px solid var(--pulse-bg2);
        display: flex;
        justify-content: space-between;
        gap: 20px;

        >div {
          flex: 1;
        }

        .textWrap {
          padding-top: 8px;
          color: var(--pulse-tx2);
        }
      }

      .rightWrap {
        flex: 1;
        padding-left: 20px;

        .chooseWrap {
          padding-top: 8px;
          height: 24.7396vw;
          overflow-y: auto;

          .chooseItem {
            margin-bottom: 15px;
          }

          .chooseTitle {
            font-weight: 500;
            color: var(--pulse-tx1);
            display: flex;
            justify-content: space-between;

            .score {
              font-weight: 400;
              color: var(--pulse-tx2);
            }
          }

          .radioList {
            margin: 8px 0;
            color: var(--pulse-tx2);
          }
        }
      }
    }
  }

  .title {
    font-size: 22px;
    color: var(--pulse-tx1);
    font-weight: bold;
  }

  .tableHeader {
    width: 100%;
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
  }

  .saveWrap {
    position: fixed;
    bottom: 0;
    width: calc(100% - 249px);
    text-align: right;
    background: #fff;
  }
}
