.created-resource-list-item {
  width: calc(100% - 40px);
  margin: 0 20px;
  padding: 6px 0;
  height: 34px;
  border-bottom: 1px solid var(--pulse-bg2);
  
  .resource-list-item-title {
    color: var(--pulse-tx1);
    width: calc(100% - 44px);
    &:hover {
      color: var(--pulse-accent);
    }
  }
  .resource-list-item-delete-btn {
    display: none;
    color: var(--pulse-tx2);
    width: 20px;
    height: 20px;
    padding: 2px;
    border-radius: 4px;
    border: 1px solid var(--pulse-bg2);
    background: var(--pulse-bg0);
    &:hover {
      color: #EF4444;
      border: 1px solid #fbeeec;
      background: #f9eded;
    }
  }
  &:hover {
    .resource-list-item-delete-btn {
      display: flex;
    }
  }
}
