.wrapNav {
  display: flex;
  gap: 4px;

  &:hover {
    color: var(--pulse-accent);

    .normal {
      background: linear-gradient(158deg, #8080FF 0%, #F89D5E 100%);
      border-radius: 8px;
      color: #fff;
    }
  }

  .normal {
    width: 24px;
    height: 24px;
    font-size: 24px;
    text-align: center;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .activeIcon {
    width: 24px;
    height: 24px;
    font-size: 24px;
    background: linear-gradient(158deg, #8080FF 0%, #F89D5E 100%);
    border-radius: 8px;
    color: #fff;
    text-align: center;
    // margin-right: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
